@import "tailwindcss";

@theme {
  --color-primary: #F59E0B;
  --color-secondary: #FB923C;
  --color-background: #FAFAFA;
}

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: var(--color-background);
    color: #1a1a1a;
  }
}
